@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --card: #ffffff;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --primary: #b6995d;
    --primary-foreground: #1a1a1a;
    --secondary: #f0f0f0;
    --secondary-foreground: #1a1a1a;
    --muted: #f0f0f0;
    --muted-foreground: #767676;
    --accent: #f0f0f0;
    --accent-foreground: #1a1a1a;
    --destructive: #ff4d4d;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #1a1a1a;
    --radius: 0.5rem;
    --chart-1: #ff8c00;
    --chart-2: #2e8b57;
    --chart-3: #4682b4;
    --chart-4: #ffb6c1;
    --chart-5: #ff4500;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #424242;
    --sidebar-primary: #191919;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f5;
    --sidebar-accent-foreground: #191919;
    --sidebar-border: #e8e8e8;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    /* --background: #0e0e0e; */
    --background: #231f20;
    --foreground: #ffffff;
    --card: #41393b;
    --card-foreground: #ffffff;
    --popover: #1a1a1a;
    --popover-foreground: #fafafa;
    --primary: #b6995d;
    --primary-foreground: #1a1a1a;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #993333;
    --destructive-foreground: #fafafa;
    --border: #41393b;
    --input: #41393b;
    --ring: #b6995d;
    --chart-1: #4169e1;
    --chart-2: #2e8b57;
    --chart-3: #ff8c00;
    --chart-4: #ba55d3;
    --chart-5: #ff1493;
    --sidebar-background: #191919;
    --sidebar-foreground: #f4f4f5;
    --sidebar-primary: #3b5bdb;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292929;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #292929;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-[#ece7d5] selection:text-[#301f18];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}

@layer components {
  .tw-animation {
    @apply transition-all duration-300 ease-in-out;
  }
  .tw-gradient {
    @apply bg-gradient-to-br from-zinc-900 to-zinc-800;
  }
}
